server {
    server_name  42Server;
    listen       8080 3000;
    root         data/www/Pages/;
    index        index.html;
    error_page 404 /ErrorPages/404notFound.html;
    body_size 55;

    location /hello {
        root        data/www/Pages;
        methods     POST DELETE;
        index       index.html;
    }

    location /queso {
        root        data/www/Pages;
        methods     GET POST DELETE;
        index       form.html;
    }

    location /salut {
        root        data/www/Pages;
        methods     GET;
        index       team.html;
    }
}

server {
    server_name  42Server;
    listen       4000;
    root         data/www/Pages/ErrorPages/;
    index        204noContent.html;
    error_page 404 /404notFound.html;
    body_size 55;

    location /hello {
        root        data/www/Pages;
        methods     GET;
        index       team.html;
    }
}
