 server {
    listen       8080 80 45 ;
    server_name  42Server;
    root         data/www/Pages/;
    index        index.html;
    error_page 404 /ErrorPages/404notFound.html;
    body_size 55;

    location /error {
        root        data/www/Pages;
        methods     GET POST DELETE;
        index       400badRequest.html;
    }
  }