server {
    server_name  42Server;
    listen        8089 10 1 45 localhost:8090;
    root         data/www/Pages/;
    index        index.html;
    error_page 404 /ErrorPages/404notFound.html;
    body_size 55;

    location /error {
        root        data/www/Pages;
        methods     GET POST DELETE;
        index       400badRequest.html;
    }

    location /queso {
        root        data/www/Pages;
        methods     GET POST DELETE;
        index       400badRequest.html;
    }
}
