server {
    server_name  42Server;
    listen       8080 3000;
    host         127.0.0.1;
    root         data/www/Pages;
    index        index.html;
    error_page 404 /ErrorPages/500internalServerError.html;
    body_size 1;

    location /hello {
        root        data/www/Pages;
        methods     GET POST DELETE;
        index       ErrorPages;
        upload_folder upload_folder;
    }

    location /salute {
        root        data/www/Pages;
        methods     GET POST DELETE;
        index       ErrorPages;
    }
}
